body
{
    background-color: #ecf0f1;
}


.container__content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    padding: 0 30px;
}

.container__content h1
{
    margin-top: -0.5rem;
}

.container__content p
{
    font-style: italic;
    margin-top: -0.3rem;
    font-size: 15px;
    margin-bottom: 5px;
}

.container__content p span
{
    background-color: #3b3761;
    padding: 2px 8px;
    color: #ffffff;
}

.container__content input
{
    padding: 0.7rem;
    margin-top: -2rem;
    border: solid #3b3761;
}

.container__content form
{
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 0.8rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#submit
{
    width: 420px;
    padding: 0.5rem;
    background-color: #1d1b31;
    border: none;
    border-radius: 1.5rem;
    color: aliceblue;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

#submit:hover
{
    background-color: #28273b;
    transition: all 0.2s ease-in;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.home__container--img
{
    width: 340px;
    height: 370px;
    margin: 3rem;
}